.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.869000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.123000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.975000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.975000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.123000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-1.726830px;}
.ls4{letter-spacing:-1.703174px;}
.ls9{letter-spacing:-1.548000px;}
.lsa{letter-spacing:-1.008000px;}
.ls8{letter-spacing:-0.468000px;}
.ls5{letter-spacing:-0.425794px;}
.ls6{letter-spacing:-0.402138px;}
.lsc{letter-spacing:-0.312000px;}
.lsb{letter-spacing:-0.216000px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.720000px;}
.ls1{letter-spacing:2.000000px;}
.ls2{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-3.665440px;}
.ws5{word-spacing:-0.720000px;}
.ws0{word-spacing:0.000000px;}
.ws9{word-spacing:0.216000px;}
.wsa{word-spacing:0.312000px;}
.ws4{word-spacing:0.425794px;}
.ws6{word-spacing:0.468000px;}
.ws8{word-spacing:1.008000px;}
.ws7{word-spacing:1.548000px;}
.ws3{word-spacing:1.703174px;}
.ws2{word-spacing:1.726830px;}
._6{margin-left:-10.152000px;}
._8{margin-left:-5.136826px;}
._7{margin-left:-3.797251px;}
._9{margin-left:-2.749277px;}
._3{margin-left:-1.703174px;}
._1{width:1.160000px;}
._0{width:2.520000px;}
._2{width:3.592131px;}
._d{width:40.124000px;}
._c{width:48.788000px;}
._4{width:139.920508px;}
._a{width:141.670993px;}
._5{width:2902.587661px;}
._b{width:2904.385456px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:23.655200px;}
.fs7{font-size:24.000000px;}
.fs3{font-size:29.161200px;}
.fs5{font-size:36.000000px;}
.fs0{font-size:40.000000px;}
.fs1{font-size:73.308800px;}
.fs6{font-size:88.000000px;}
.fs4{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:22.615200px;}
.y4{bottom:24.437500px;}
.y24{bottom:25.111300px;}
.y5{bottom:26.112581px;}
.y26{bottom:26.933600px;}
.y27{bottom:28.608681px;}
.y3{bottom:33.191400px;}
.y25{bottom:35.687500px;}
.y23{bottom:77.676500px;}
.y57{bottom:78.336100px;}
.y58{bottom:80.196100px;}
.y5a{bottom:141.552100px;}
.y59{bottom:230.730100px;}
.y5b{bottom:231.930100px;}
.y5c{bottom:253.392100px;}
.y22{bottom:279.637000px;}
.y46{bottom:281.133000px;}
.y45{bottom:295.137000px;}
.y21{bottom:295.639000px;}
.y44{bottom:309.141000px;}
.y20{bottom:311.641000px;}
.y43{bottom:323.145000px;}
.y1f{bottom:327.643000px;}
.y42{bottom:337.149000px;}
.y1e{bottom:343.645000px;}
.y41{bottom:351.153000px;}
.y1d{bottom:359.647000px;}
.y40{bottom:365.157000px;}
.yc{bottom:375.685000px;}
.y3f{bottom:379.161000px;}
.y1c{bottom:391.651000px;}
.y3e{bottom:393.165000px;}
.y3d{bottom:407.169000px;}
.y1b{bottom:407.653000px;}
.y3c{bottom:421.173000px;}
.y1a{bottom:423.655000px;}
.y3b{bottom:435.177000px;}
.y19{bottom:439.657000px;}
.y3a{bottom:449.181000px;}
.y18{bottom:455.659000px;}
.y39{bottom:463.185000px;}
.y17{bottom:471.661000px;}
.yb{bottom:471.688000px;}
.y38{bottom:477.189000px;}
.y37{bottom:491.193000px;}
.y16{bottom:503.665000px;}
.y36{bottom:505.197000px;}
.y35{bottom:519.201000px;}
.y56{bottom:519.450000px;}
.y15{bottom:519.667000px;}
.y34{bottom:533.205000px;}
.y14{bottom:535.669000px;}
.y55{bottom:538.083000px;}
.y33{bottom:547.209000px;}
.y13{bottom:551.671000px;}
.y54{bottom:555.093000px;}
.y32{bottom:561.213000px;}
.y53{bottom:565.095000px;}
.y12{bottom:567.673000px;}
.ya{bottom:567.691000px;}
.y31{bottom:575.217000px;}
.y52{bottom:580.009000px;}
.y30{bottom:589.221000px;}
.y11{bottom:599.677000px;}
.y51{bottom:599.821000px;}
.y2f{bottom:603.225000px;}
.y50{bottom:614.023000px;}
.y10{bottom:615.679000px;}
.y2e{bottom:617.229000px;}
.y2d{bottom:631.233000px;}
.yf{bottom:631.681000px;}
.y4f{bottom:633.835000px;}
.y2c{bottom:645.237000px;}
.ye{bottom:647.683000px;}
.y4e{bottom:648.037000px;}
.y2b{bottom:659.241000px;}
.yd{bottom:663.685000px;}
.y9{bottom:663.694000px;}
.y4c{bottom:665.045000px;}
.y4d{bottom:665.047000px;}
.y2a{bottom:673.245000px;}
.y4b{bottom:675.047000px;}
.y4a{bottom:675.049000px;}
.y29{bottom:687.249000px;}
.y49{bottom:689.251000px;}
.y28{bottom:701.253000px;}
.y1{bottom:703.475600px;}
.y48{bottom:710.762000px;}
.y47{bottom:726.764000px;}
.y7{bottom:738.812000px;}
.y6{bottom:767.636000px;}
.y8{bottom:767.637000px;}
.h4{height:17.221632px;}
.hf{height:18.048000px;}
.h5{height:21.258629px;}
.he{height:22.560000px;}
.hc{height:24.971945px;}
.h9{height:27.072000px;}
.h2{height:29.600000px;}
.hd{height:30.314548px;}
.h8{height:33.840000px;}
.h3{height:53.370811px;}
.ha{height:65.120000px;}
.hb{height:77.389466px;}
.h7{height:159.840000px;}
.h0{height:841.804000px;}
.h6{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.xc{left:28.346400px;}
.x2{left:62.272000px;}
.x1{left:68.032200px;}
.x4{left:239.076200px;}
.xd{left:304.724000px;}
.x13{left:305.976000px;}
.xe{left:318.432000px;}
.x14{left:329.664000px;}
.x3{left:336.751500px;}
.x10{left:376.926000px;}
.x6{left:434.908700px;}
.xf{left:444.900000px;}
.x11{left:452.106000px;}
.x12{left:454.374000px;}
.x7{left:622.438000px;}
.x8{left:623.622000px;}
.x9{left:661.890000px;}
.xa{left:900.003000px;}
.x5{left:1037.707348px;}
.xb{left:1148.670000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-2.302439pt;}
.ls4{letter-spacing:-2.270899pt;}
.ls9{letter-spacing:-2.064000pt;}
.lsa{letter-spacing:-1.344000pt;}
.ls8{letter-spacing:-0.624000pt;}
.ls5{letter-spacing:-0.567725pt;}
.ls6{letter-spacing:-0.536185pt;}
.lsc{letter-spacing:-0.416000pt;}
.lsb{letter-spacing:-0.288000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.960000pt;}
.ls1{letter-spacing:2.666667pt;}
.ls2{letter-spacing:4.887253pt;}
.ws1{word-spacing:-4.887253pt;}
.ws5{word-spacing:-0.960000pt;}
.ws0{word-spacing:0.000000pt;}
.ws9{word-spacing:0.288000pt;}
.wsa{word-spacing:0.416000pt;}
.ws4{word-spacing:0.567725pt;}
.ws6{word-spacing:0.624000pt;}
.ws8{word-spacing:1.344000pt;}
.ws7{word-spacing:2.064000pt;}
.ws3{word-spacing:2.270899pt;}
.ws2{word-spacing:2.302439pt;}
._6{margin-left:-13.536000pt;}
._8{margin-left:-6.849101pt;}
._7{margin-left:-5.063002pt;}
._9{margin-left:-3.665702pt;}
._3{margin-left:-2.270899pt;}
._1{width:1.546667pt;}
._0{width:3.360000pt;}
._2{width:4.789508pt;}
._d{width:53.498667pt;}
._c{width:65.050667pt;}
._4{width:186.560677pt;}
._a{width:188.894657pt;}
._5{width:3870.116881pt;}
._b{width:3872.513941pt;}
.fs2{font-size:31.540267pt;}
.fs7{font-size:32.000000pt;}
.fs3{font-size:38.881600pt;}
.fs5{font-size:48.000000pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:97.745067pt;}
.fs6{font-size:117.333333pt;}
.fs4{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:30.153600pt;}
.y4{bottom:32.583333pt;}
.y24{bottom:33.481733pt;}
.y5{bottom:34.816775pt;}
.y26{bottom:35.911467pt;}
.y27{bottom:38.144909pt;}
.y3{bottom:44.255200pt;}
.y25{bottom:47.583333pt;}
.y23{bottom:103.568667pt;}
.y57{bottom:104.448133pt;}
.y58{bottom:106.928133pt;}
.y5a{bottom:188.736133pt;}
.y59{bottom:307.640133pt;}
.y5b{bottom:309.240133pt;}
.y5c{bottom:337.856133pt;}
.y22{bottom:372.849333pt;}
.y46{bottom:374.844000pt;}
.y45{bottom:393.516000pt;}
.y21{bottom:394.185333pt;}
.y44{bottom:412.188000pt;}
.y20{bottom:415.521333pt;}
.y43{bottom:430.860000pt;}
.y1f{bottom:436.857333pt;}
.y42{bottom:449.532000pt;}
.y1e{bottom:458.193333pt;}
.y41{bottom:468.204000pt;}
.y1d{bottom:479.529333pt;}
.y40{bottom:486.876000pt;}
.yc{bottom:500.913333pt;}
.y3f{bottom:505.548000pt;}
.y1c{bottom:522.201333pt;}
.y3e{bottom:524.220000pt;}
.y3d{bottom:542.892000pt;}
.y1b{bottom:543.537333pt;}
.y3c{bottom:561.564000pt;}
.y1a{bottom:564.873333pt;}
.y3b{bottom:580.236000pt;}
.y19{bottom:586.209333pt;}
.y3a{bottom:598.908000pt;}
.y18{bottom:607.545333pt;}
.y39{bottom:617.580000pt;}
.y17{bottom:628.881333pt;}
.yb{bottom:628.917333pt;}
.y38{bottom:636.252000pt;}
.y37{bottom:654.924000pt;}
.y16{bottom:671.553333pt;}
.y36{bottom:673.596000pt;}
.y35{bottom:692.268000pt;}
.y56{bottom:692.600000pt;}
.y15{bottom:692.889333pt;}
.y34{bottom:710.940000pt;}
.y14{bottom:714.225333pt;}
.y55{bottom:717.444000pt;}
.y33{bottom:729.612000pt;}
.y13{bottom:735.561333pt;}
.y54{bottom:740.124000pt;}
.y32{bottom:748.284000pt;}
.y53{bottom:753.460000pt;}
.y12{bottom:756.897333pt;}
.ya{bottom:756.921333pt;}
.y31{bottom:766.956000pt;}
.y52{bottom:773.345333pt;}
.y30{bottom:785.628000pt;}
.y11{bottom:799.569333pt;}
.y51{bottom:799.761333pt;}
.y2f{bottom:804.300000pt;}
.y50{bottom:818.697333pt;}
.y10{bottom:820.905333pt;}
.y2e{bottom:822.972000pt;}
.y2d{bottom:841.644000pt;}
.yf{bottom:842.241333pt;}
.y4f{bottom:845.113333pt;}
.y2c{bottom:860.316000pt;}
.ye{bottom:863.577333pt;}
.y4e{bottom:864.049333pt;}
.y2b{bottom:878.988000pt;}
.yd{bottom:884.913333pt;}
.y9{bottom:884.925333pt;}
.y4c{bottom:886.726667pt;}
.y4d{bottom:886.729333pt;}
.y2a{bottom:897.660000pt;}
.y4b{bottom:900.062667pt;}
.y4a{bottom:900.065333pt;}
.y29{bottom:916.332000pt;}
.y49{bottom:919.001333pt;}
.y28{bottom:935.004000pt;}
.y1{bottom:937.967467pt;}
.y48{bottom:947.682667pt;}
.y47{bottom:969.018667pt;}
.y7{bottom:985.082667pt;}
.y6{bottom:1023.514667pt;}
.y8{bottom:1023.516000pt;}
.h4{height:22.962177pt;}
.hf{height:24.064000pt;}
.h5{height:28.344838pt;}
.he{height:30.080000pt;}
.hc{height:33.295926pt;}
.h9{height:36.096000pt;}
.h2{height:39.466667pt;}
.hd{height:40.419398pt;}
.h8{height:45.120000pt;}
.h3{height:71.161081pt;}
.ha{height:86.826667pt;}
.hb{height:103.185954pt;}
.h7{height:213.120000pt;}
.h0{height:1122.405333pt;}
.h6{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.xc{left:37.795200pt;}
.x2{left:83.029333pt;}
.x1{left:90.709600pt;}
.x4{left:318.768267pt;}
.xd{left:406.298667pt;}
.x13{left:407.968000pt;}
.xe{left:424.576000pt;}
.x14{left:439.552000pt;}
.x3{left:449.002000pt;}
.x10{left:502.568000pt;}
.x6{left:579.878267pt;}
.xf{left:593.200000pt;}
.x11{left:602.808000pt;}
.x12{left:605.832000pt;}
.x7{left:829.917333pt;}
.x8{left:831.496000pt;}
.x9{left:882.520000pt;}
.xa{left:1200.004000pt;}
.x5{left:1383.609797pt;}
.xb{left:1531.560000pt;}
}
